<div id="<%= dom_id souvenir %>">
  <p>
    <strong>Name:</strong>
    <%= souvenir.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= souvenir.cost %>
  </p>


  <p>
    <strong>Type:</strong>
    <%= souvenir.type %>
  </p>

</div>
